<!doctype html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Hemos recibido tu solicitud de cambio | Claro | Ecuador</title>
    <link rel="shorcut icon" type="image/x-icon" href="https://tienda.claro.com.ec/images/home/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <style>
        @import url('https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i,900,900i');
        * {
            font-family: 'Roboto', Arial, 'Verdana', sans-serif !important;
        }
        h1 {
            font-size: 25px;
            color: #243C48;
        }
        h2 {
            font-size: 20px;
            color: #243C48;
        }
        img.banner {
            height: auto; width: 100%;
        }
        table.detail {
            width: 60%; margin-top: 30px;
        }
        table.detail tr {
            vertical-align: top;
        }
        table.detail td:first-child {
            width: 30%;
        }
        table.detail td:last-child {
            width: 70%;
            padding-top: 12px;
        }
        table.detail span {
            font-size: 80px; font-weight: bold; color: #B7BEC3;
        }
        table.detail h2 {
            font-size: 1.5em; margin: 0; font-weight: bold; padding-left: 10px; text-align: left;
        }
        p.with-img {
            text-align: center; margin: 0 0 1em 0;
        }
        .normal-text {
            font-size: 15px; line-height: 22px; color: #696969;
        }
        h1.subtitle {
            font-size: 50px; font-weight: bold; color: #f5f5f5; margin: 40px 0 15px 0; text-align: center;
        }
        img {
            width: auto;
        }
    </style>
</head>
<body style="margin: 0; padding: 0; background: #EFEFEF">
<table border="0" cellpadding="0" cellspacing="0" width="100%">
    <tr>
        <td style="padding: 5px">
            <table align="center" border="0" cellpadding="0" cellspacing="0" width="600" style="box-shadow: 6px 12px 12px 0 #dedede">
                <tr>
                    <td bgcolor="#ffffff" style="padding: 0;">
                        <img class="banner" src="{{ asset('images/mailing/banners/banner-portabilidad.png') }}" alt="" title="Nos emociona saber que pronto serás de nuestra familia">
                    </td>
                </tr>
                <tr>
                    <td bgcolor="#ffffff" style="padding: 30px 50px; text-align: justify">
                        <h1 style="margin-top: 0">Hemos recibido <!--con éxito--> tu solicitud para cambiarte a Claro con tu mismo número.</h1>
                        <p class="normal-text">Ahora te contamos un poco lo que va a pasar:</p>
                        <table class="detail">
                            <tr>
                                <td>
                                    <span>01</span>
                                </td>
                                <td>
                                    <h2>Contacto telefónico</h2>
                                </td>
                            </tr>
                        </table>
                        <p class="with-img">
                            <img src="{{ asset('images/mailing/portabilidad/01-llamada.png') }}" alt="">
                        </p>
                        <p class="normal-text" style="margin-top: 0">
                            En breve nos comunicaremos contigo para continuar con el proceso de cambio, recibirás la llamada
                            del número <strong>0939014447</strong>, es importante que nos contestes para culminar tu solicitud con éxito.
                        </p>
                        <table class="detail" style="width: 40%">
                            <tr>
                                <td>
                                    <span>02</span>
                                </td>
                                <td>
                                    <h2>Entrega de chip</h2>
                                </td>
                            </tr>
                        </table>
                        <p class="with-img">
                            <img src="{{ asset('images/mailing/portabilidad/02-entrega.png') }}" alt="">
                        </p>
                        <p class="normal-text" style="margin-top: 0">
                            Recibirás la visita de uno de nuestros courrier, en la fecha y lugar coordinado, para entregarte
                            tu chip Claro y para firmar el contrato de tu nuevo plan.
                        </p>
                        <table class="detail">
                            <tr>
                                <td>
                                    <span>03</span>
                                </td>
                                <td>
                                    <h2>Hora de cambiar el chip</h2>
                                </td>
                            </tr>
                        </table>
                        <p class="with-img">
                            <img src="{{ asset('images/mailing/portabilidad/03-cambiochip.png') }}" alt="">
                        </p>
                        <p class="normal-text" style="margin-top: 0">
                            Dentro de 5 días laborables amanecerás sin señal en tu celular, en ese momento deberás insertar tu chip Claro.
                        </p>
                        <table class="detail" style="width: 80%">
                            <tr>
                                <td style="width: 90px">
                                    <span>04</span>
                                </td>
                                <td style="width: auto">
                                    <h2>¡Ya eres parte de la familia Claro!</h2>
                                </td>
                            </tr>
                        </table>
                        <p class="with-img">
                            <img src="{{ asset('images/mailing/portabilidad/04-eresclaro.png') }}" alt="">
                        </p>
                        <p class="normal-text" style="margin-top: 0">
                            A partir del momento en que ingreses tu chip Claro contarás con todos los beneficios que Claro te ofrece
                            y disfrutarás de la mejor cobertura del país.
                        </p>
                    </td>
                </tr>
                <tr bgcolor="#f6f6f6">
                    <td style="padding: 15px 30px; text-align: center">
                        <h2 style="color: #696969; font-size: 17px">¿Tienes alguna duda de tu proceso de cambio?</h2>
                        <p class="normal-text">Comunícate con nosotros por medio de nuestros canales de atención:</p>
                        <table style="margin: 0 auto">
                            <tr>
                                <td style="padding: 0 10px">
                                    <a href="https://www.facebook.com/claroecua"><img src="{{ asset('images/mailing/rrss/fa-facebook-official.png') }}" alt="" style="margin-right: 10px" title="Me gusta!"></a>
                                </td>
                                <td style="padding: 0 10px">
                                    <a href="https://twitter.com/claroecua"><img src="{{ asset('images/mailing/rrss/fa-twitter.png') }}" alt="" style="margin-right: 10px" title="Síguenos!"></a>
                                </td>
                                <td style="padding: 0 10px">
                                    <a href="https://www.youtube.com/user/ClaroEcuador"><img src="{{ asset('images/mailing/rrss/fa-youtube.png') }}" alt="" style="margin-right: 10px" title="Suscríbete!"></a>
                                </td>
                                <td style="padding: 0 10px">
                                    <a href="https://www.instagram.com/claroecuador/"><img src="{{ asset('images/mailing/rrss/fa-instagram.png') }}" alt="" title="Explora!"></a>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr bgcolor="#fff">
                    <td style="padding: 30px">
                        <table style="width: 85%">
                            <tr bgcolor="#fff">
                                <td style="padding-right: 30px">
                                    <img src="{{ asset('images/mailing/portabilidad/05-dudas.png') }}" alt="">
                                </td>
                                <td style="">
                                    <h2 class="">También puedes llamarnos al</h2>
                                    <p class="normal-text" style="font-size: 18px"><strong>*111</strong> desde un teléfono Claro o desde un
                                        convencional al <strong>1800638638</strong>, opción 9, clave 777.</p>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr bgcolor="#fff">
                    <td style="padding: 0 30px 30px 30px; text-align: justify">
                        <p class="normal-text"><strong>RECUERDA:</strong> Para que el proceso de cambio sea exitoso no debes presentar deudas en tu
                            operadora actual. En caso de que el cambio no sea aprobado nos comunicaremos contigo para informarte el motivo.</p>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td style="text-align: center; padding: 20px">
            <img src="{{ asset('images/mailing/banners/clarolargepng.png') }}" alt="" style="height: 27px; width: auto">
        </td>
    </tr>
</table>
</body>
</html>